/*!********************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[2].use[2]!./src/cards-list/app/app.css ***!
  \********************************************************************************************************************************************************************************/

/*!******************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[2].use[2]!./src/components/Skeleton/skeleton.css ***!
  \******************************************************************************************************************************************************************************************/
.skeleton {
	display: flex;
	gap: 10px;
	align-items: center;
}

