/*!*************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./src/taxfilter/style.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************/
.block-taxfilter {
  max-width: 100% !important;
}
.block-taxfilter--inline {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.block-taxfilter__input[type=radio] {
  display: none;
  cursor: pointer;
}
.block-taxfilter__input[type=checkbox] {
  display: none;
}
.block-taxfilter__label {
  cursor: pointer;
}
.block-taxfilter__label .block-taxfilter__text {
  font-size: 18px;
  font-weight: 400;
}
.block-taxfilter__input[type=radio]:checked + .block-taxfilter__text {
  background-color: var(--wp--preset--color--accent-1);
  color: white;
  border-radius: 50px;
  padding: 9px 21px;
  cursor: pointer;
}
.block-taxfilter__input[type=checkbox] + .block-taxfilter__text {
  cursor: pointer;
  position: relative;
  display: flex;
  gap: 10px;
}
.block-taxfilter__input[type=checkbox] + .block-taxfilter__text::before {
  content: "";
  left: 6px;
  top: 2px;
  width: 22px;
  height: 22px;
  border: solid 1px #A3A3A3;
}
.block-taxfilter .block-taxfilter__input[type=checkbox]:checked + .block-taxfilter__text::before {
  background-color: var(--wp--preset--color--accent-1);
}
.block-taxfilter__title {
  font-size: 18px;
  font-weight: 700;
}

.block-taxfilter--checkbox .block-taxfilter__item {
  background: transparent;
  padding: 5px 0px;
}

@media (max-width: 780px) {
  .block-taxfilter--inline {
    overflow: scroll;
    padding: 12px 5px;
  }
  .block-taxfilter__label span {
    white-space: nowrap;
  }
  .block-taxfilter__label .block-taxfilter__text {
    font-size: 14px;
  }
}
/** Menu filters */
.menu-filters {
  display: none;
}

.js-menu-mobile {
  display: none !important;
}

@media (max-width: 780px) {
  .menu-filters {
    display: block;
    bottom: 24px;
    width: 100%;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .menu-filters p {
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: center;
    justify-content: center;
    max-width: 50vw !important;
    margin: auto;
    padding: 7px 28px;
    background: white;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.35);
    z-index: 3;
  }
  .menu-filters img {
    width: 25px !important;
  }
  .content-float-filter {
    display: flex;
    flex-direction: column;
    height: 95dvh;
    position: relative;
  }
  .js-menu-mobile {
    display: block !important;
    width: 100%;
    position: absolute;
    bottom: 30px;
    text-align: center;
  }
}

/*# sourceMappingURL=style-index.css.map*/