/*!*************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./src/taxfilter/style.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************/
.block-taxfilter {
  max-width: 100% !important;
}
.block-taxfilter--inline {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  overflow-y: hidden;
  flex-wrap: nowrap;
}
.block-taxfilter__item {
  background: #F3F9FB;
  border-radius: 50px;
  padding: 9px 14px;
  cursor: pointer;
}
.block-taxfilter__input[type=radio] {
  display: none;
  cursor: pointer;
}
.block-taxfilter__label {
  cursor: pointer;
}
.block-taxfilter__label span {
  font-size: 18px;
  font-weight: 400;
}
.block-taxfilter__title {
  font-size: 18px;
  font-weight: 700;
}

.block-taxfilter--checkbox .block-taxfilter__item {
  background: transparent;
  padding: 5px 0px;
}

@media (max-width: 780px) {
  .block-taxfilter--inline {
    justify-content: center;
  }
  .block-taxfilter__label span {
    white-space: nowrap;
  }
}
