/*!**********************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./src/totals/style.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************/
.card-list-head {
  display: flex;
  justify-content: space-between;
}
.card-list-head__sort-title, .card-list-head__total {
  margin: 0px;
  display: flex;
  align-items: center;
  gap: 12px;
}
.card-list-head__sort-order {
  background: #676767;
  color: white;
  padding: 8px 14px;
  border-radius: 18px;
}

@media (max-width: 780px) {
  .card-list-head {
    flex-wrap: wrap;
    gap: 15px;
  }
}
